 <div class="form-group row">
    <div class="control-label col-sm-2">
        <%= f.label :keyword %>
    </div>
    <div class="col-sm-8" >
        <%= f.text_field :keyword, class: "form-control" %>
    </div>
</div><br/>
<div class="form-group row">
    <div class="control-label col-sm-2">
        <%= f.label :city %>
    </div>
    <div class="col-sm-8" >
        <%= f.text_field :city, class: "form-control" %>
    </div>
</div><br/>