<div id="<%= dom_id search_opmtimization %>">
  <p>
    <strong>Keyword:</strong>
    <%= search_opmtimization.keyword %>
  </p>

  <p>
    <strong>City:</strong>
    <%= search_opmtimization.city %>
  </p>

  <p>
    <strong>Blog:</strong>
    <%= search_opmtimization.blog_id %>
  </p>

</div>
