<h1>Editing search opmtimization</h1>

<%= render "form", search_opmtimization: @search_opmtimization %>

<br>

<div>
  <%= link_to "Show this search opmtimization", @search_opmtimization %> |
  <%= link_to "Back to search opmtimizations", search_opmtimizations_path %>
</div>
